<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>#1</title>
</head>
<body>
    <h2>$testing</h2>
    <p>I am the best. The best engineer and problem solver in the world. Ever been and ever to be.</p>
    <p>I am super blessed and I am so happy and so very grateful for the fact that I am now earning $1 million every second</p>
    <ul>
        #foreach ($item in $my_data.entrySet())
            <li>$item.key: $item.value</li>
        #end
        ## This is a single line comment in vtl. **
        #**
            This is a multi line comment. We get a ParseExceptionError when we use incorrect
            syntax in the templates.
        *#
    </ul>
    ## Our form **
    <form method="post" enctype="multipart/form-data">
        <Label>Add a pic</Label>
        <input type="file" name="uploaded_file" placeholder="Add a pic">
        <button>Upload</button>
    </form>

    <h4>You have uploaded this image: </h4> <img src=$pic_path/>
</body>
</html>